%ul.sidebar-menu
  %li.header MAIN NAVIGATION
  %li.active.treeview
    %a{:href => "/groups"}
      %i.fa.fa-dashboard
      %span Groups
  %li.treeview
    %a{:href => "/groups/new"}
      %i.fa.fa-files-o
      %span Add Group