.box-header
  %h3.box-title #{@title}
  .box-tools
    -#.input-group
    -#  %input.form-control.input-sm.pull-right{:name => "table_search", :class=> "search_key", :model_class => @search_class, :placeholder => "#{@place_hoder}",:is_admin => @is_admin, :style => "width: 200px;", :type => "text"}/
    -#  %a.back_to_search_results.pull-right{:href => "#", :style=> "margin: 3px 26px;font-weight: bold;display:none"} Back To Search Results
    -#  .input-group-btn
    -#    %button.btn.btn-sm.btn-default.search_filter
    -#      %i.fa.fa-search