%li.dropdown.user.user-menu.user_short_profile
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = image_tag "/assets/placeholder-img.jpg",:size=>"50x50", :class=>"user-image"
    %span.hidden-xs Vel Murugan
  %ul.dropdown-menu
    %li.user-header
      = image_tag "/assets/placeholder-img.jpg",:size=>"50x50", :class=>"user-image"
      %p
        Vel Murugan